In [1]:
import pandas as pd

In [2]:
#importing the dataset
df=pd.read_csv(r"C:\Users\Godfrey Ike\Documents\HIIT\EXCEL HIIT\listings.csv",encoding='latin1')
autostrip=True

C:\Users\Godfrey Ike\AppData\Local\Temp\ipykernel_9080\1074937185.py:2: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\Godfrey Ike\Documents\HIIT\EXCEL HIIT\listings.csv",encoding='latin1')

In [3]:
df_copy=df.copy()

In [4]:
df2=pd.read_csv(r"C:\Users\Godfrey Ike\Documents\HIIT\EXCEL HIIT\reviews.csv")
autostrip=True
df2_copy=df2.copy
df2

         listing_id  review_id        date  reviewer_id
0             11798  330265172  2018-09-30     11863072
1             15383  330103585  2018-09-30     39147453
2             16455  329985788  2018-09-30      1125378
3             17919  330016899  2018-09-30    172717984
4             26827  329995638  2018-09-30     17542859
...             ...        ...         ...          ...
5373138    47779342  726766332  2021-01-25    283094516
5373139    47823964  727963021  2021-01-31     76411977
5373140    47896175  728548625  2021-02-02     71370946
5373141    47900451  727399287  2021-01-29    109011160
5373142    47998038  730320626  2021-02-11    276790978

[5373143 rows x 4 columns]

In [5]:
#merging the two dataset together
merged_df=pd.merge(df,df2,on="listing_id")
merged_df

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,review_id,date,reviewer_id
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,173279221,2017-07-23,3501898
1,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,172657766,2017-07-21,74346703
2,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,20792760,2014-10-05,21583508
3,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,32282670,2015-05-16,32285553
4,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,45645391,2015-09-04,34310199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5373138,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,532395580,2019-09-19,10347403
5373139,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,553159713,2019-10-23,197011717
5373140,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,2015-07-16,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,556350613,2019-10-29,102836346
5373141,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,597833586,2020-01-26,21707358
5373142,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,f,603384165,2020-02-09,76518059

In [6]:
#checking the percentage of missing values
missing_values=merged_df.isna().mean()*100
print(missing_values)

listing_id                      0.000000
name                            0.006197
host_id                         0.000000
host_since                      0.073309
host_location                   0.147214
host_response_time             27.463125
host_response_rate             27.463125
host_acceptance_rate           13.929222
host_is_superhost               0.073309
host_total_listings_count       0.073309
host_has_profile_pic            0.073309
host_identity_verified          0.073309
neighbourhood                   0.000000
district                       84.222884
city                            0.000000
latitude                        0.000000
longitude                       0.000000
property_type                   0.000000
room_type                       0.000000
accommodates                    0.000000
bedrooms                       10.076281
amenities                       0.000000
price                           0.000000
minimum_nights                  0.000000
maximum_nights                  0.000000
review_scores_rating            0.113621
review_scores_accuracy          0.730727
review_scores_cleanliness       0.727154
review_scores_checkin           0.732123
review_scores_communication     0.730187
review_scores_location          0.732272
review_scores_value             0.732514
instant_bookable                0.000000
review_id                       0.000000
date                            0.000000
reviewer_id                     0.000000
dtype: float64

In [7]:
#deleting the district column
dropped_district=merged_df.drop("district",axis=1)
merged_df=dropped_district

In [8]:
#dropping the null values in host_response_time
merged_df.dropna(subset=['host_response_time'],inplace=True)

In [9]:
#dropping the null values in host_response_rate
merged_df.dropna(subset=['host_response_rate'],inplace=True)

In [10]:
#dropping the null values in host_acceptance_rate
merged_df.dropna(subset=['host_acceptance_rate'],inplace=True)

In [11]:
#dropping the null values in bedroom
merged_df.dropna(subset=['bedrooms'],inplace=True)

In [12]:
#dropping the null values in host_since
merged_df.dropna(subset=['host_since'],inplace=True)

In [13]:
#dropping the null values in host_is_superhost
merged_df.dropna(subset=['host_is_superhost'],inplace=True)

In [14]:
#dropping the null values in the host_total_listings_count

merged_df.dropna(subset=['host_total_listings_count'],inplace=True)

In [15]:
#dropping the null values in the host_has_profile_pic

merged_df.dropna(subset=['host_has_profile_pic'],inplace=True)

In [16]:
#dropping the null values in the host_identity_verified

merged_df.dropna(subset=['host_identity_verified'],inplace=True)

In [17]:
#dropping the null values in the review_scores_rating
merged_df.dropna(subset=['review_scores_rating'],inplace=True)

In [18]:
#dropping the null values in the review_scores_accuracy
merged_df.dropna(subset=['review_scores_accuracy'],inplace=True)

In [19]:
#dropping the null values in the review_scores_cleanliness
merged_df.dropna(subset=['review_scores_cleanliness'],inplace=True)

In [20]:
#dropping the null values in the review_scores_checkin
merged_df.dropna(subset=['review_scores_checkin'],inplace=True)

In [21]:
#dropping the null values in the review_scores_communication
merged_df.dropna(subset=['review_scores_communication'],inplace=True)

In [22]:
#dropping the null values in review_scores_location
merged_df.dropna(subset=['review_scores_location'],inplace=True)

In [23]:
#dropping the null values in review_scores_value
merged_df.dropna(subset=['review_scores_value'],inplace=True)

In [24]:
#renaming the name column to be description
new_column={'name':'description'}
merged_df=merged_df.rename(columns=new_column)
merged_df.head()

,listing_id,description,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,review_id,date,reviewer_id
279903,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,GB,within an hour,1.0,1.0,f,1.0,...,7.0,7.0,7.0,7.0,7.0,7.0,t,588276235,2020-01-04,3171445
279904,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,GB,within an hour,1.0,1.0,f,1.0,...,7.0,7.0,7.0,7.0,7.0,7.0,t,604201660,2020-02-10,26071293
279905,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,GB,within an hour,1.0,1.0,f,1.0,...,7.0,7.0,7.0,7.0,7.0,7.0,t,619003460,2020-03-16,11300816
279906,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,GB,within an hour,1.0,1.0,f,1.0,...,7.0,7.0,7.0,7.0,7.0,7.0,t,673732789,2020-10-12,13729690
279907,40436816,Bright apartment in PIGALLE - Professional Cle...,312774780,2019-11-28,IE,within an hour,1.0,1.0,f,1.0,...,8.0,10.0,10.0,8.0,10.0,8.0,f,587547092,2020-01-03,73607333

In [25]:
#dropping the null values in the column
merged_df.dropna(subset=['description'],inplace=True)

In [26]:
#removing the string that contains Â in the name column
char_replace=merged_df[~merged_df['description'].str.contains("Â")]
merged_df=char_replace

In [27]:
#deleting the host_location 
dropped_location=merged_df.drop("host_location",axis=1)
merged_df=dropped_location

In [28]:
#checking the percentage of missing values
missing_values=merged_df.isna().mean()*100
print(missing_values)

listing_id                     0.0
description                    0.0
host_id                        0.0
host_since                     0.0
host_response_time             0.0
host_response_rate             0.0
host_acceptance_rate           0.0
host_is_superhost              0.0
host_total_listings_count      0.0
host_has_profile_pic           0.0
host_identity_verified         0.0
neighbourhood                  0.0
city                           0.0
latitude                       0.0
longitude                      0.0
property_type                  0.0
room_type                      0.0
accommodates                   0.0
bedrooms                       0.0
amenities                      0.0
price                          0.0
minimum_nights                 0.0
maximum_nights                 0.0
review_scores_rating           0.0
review_scores_accuracy         0.0
review_scores_cleanliness      0.0
review_scores_checkin          0.0
review_scores_communication    0.0
review_scores_location         0.0
review_scores_value            0.0
instant_bookable               0.0
review_id                      0.0
date                           0.0
reviewer_id                    0.0
dtype: float64

In [29]:
merged_df

,listing_id,description,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,review_id,date,reviewer_id
279903,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,within an hour,1.0,1.0,f,1.0,t,...,7.0,7.0,7.0,7.0,7.0,7.0,t,588276235,2020-01-04,3171445
279904,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,within an hour,1.0,1.0,f,1.0,t,...,7.0,7.0,7.0,7.0,7.0,7.0,t,604201660,2020-02-10,26071293
279905,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,within an hour,1.0,1.0,f,1.0,t,...,7.0,7.0,7.0,7.0,7.0,7.0,t,619003460,2020-03-16,11300816
279906,39849253,Warm and Cosy Flat for 2 in Paris,305389411,2019-10-30,within an hour,1.0,1.0,f,1.0,t,...,7.0,7.0,7.0,7.0,7.0,7.0,t,673732789,2020-10-12,13729690
279907,40436816,Bright apartment in PIGALLE - Professional Cle...,312774780,2019-11-28,within an hour,1.0,1.0,f,1.0,t,...,8.0,10.0,10.0,8.0,10.0,8.0,f,587547092,2020-01-03,73607333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234958,44273734,Charming duplex near JARDIN DU LUXEMBOURG,356893366,2020-07-17,within an hour,1.0,1.0,f,1.0,t,...,10.0,10.0,10.0,10.0,10.0,10.0,f,719657276,2020-12-30,12033233
5234959,44339814,Appartement piscine place d'Italie,3909173,2012-10-18,within a few hours,1.0,1.0,f,1.0,t,...,10.0,10.0,10.0,10.0,10.0,10.0,t,656007398,2020-08-24,56177559
5234960,45200617,Cozy Montmartre flat near Le Moulin Rouge,73974623,2016-05-25,within a day,1.0,1.0,f,1.0,t,...,10.0,10.0,10.0,10.0,10.0,10.0,f,664308160,2020-09-14,5023563
5234961,46673032,Moderne-ancien- jungle urbaine - proche Montma...,2470431,2012-05-26,within an hour,1.0,1.0,f,1.0,t,...,10.0,10.0,10.0,10.0,10.0,10.0,f,714229827,2020-12-08,103362137
5234962,46673032,Moderne-ancien- jungle urbaine - proche Montma...,2470431,2012-05-26,within an hour,1.0,1.0,f,1.0,t,...,10.0,10.0,10.0,10.0,10.0,10.0,f,718260215,2020-12-26,196763688

In [31]:
 merged_df.to_csv('project_python.csv',index=False)